button {
  background-color: black;
  color: #ffffff;
  border: #969696 solid 1px;
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #ffffff;
}

@media only screen and (max-width: 600px) {
  button {
    padding: 0.3em 0.6em;
  }
}
